.itemCountBox{
display: flex;
}
.boxContador{
    display: flex;
    width: 150px;
    height: 50px;
}
.numeroContador{
    font-size: 30px;
}
.botonContador{
    width: 30px;
    height: 30px;
    margin: 10px 20px 0px 15px;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.botonContador:hover{
    background-color: rgb(255, 255, 255);
}
.agregar{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.agregar:hover{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 196, 0);
}
.sinStock{
    color: rgb(236, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}